//------------------------------
//      COLORS
//-------------------------------

$text: pink;
$main: blue;
$secondary: orange;


/* Test styles */
html{
    font-size: 13px;
}

.card:hover{
    box-shadow: 0 0 10px grey;
}
