//------------------------------
//      COLORS
//-------------------------------

$text: pink;
$main: blue;
$secondary: orange;


/* Test styles */

.container {
    border: 2px solid red;
}

.row{
    border: 2px solid blue;
}

.row>*{
    border: 3px solid green;
}